
* {
  box-sizing: border-box;
 /* background: linear-gradient(90deg, #080022 0%, #8300b6 100%); */
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #3c0e53;
 /* background-color: #9933cc;*/
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
 /* background-color: #33b5e5; */
  background: linear-gradient(90deg, #d1cb1b 0%, #17061e 100%);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid burlywood;
}

.menu li:hover {
  background-color: #0099cc;
}





/*   ol   */

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  padding: 8px;
  margin-bottom: 7px;
 /* background-color: #33b5e5; */
  background: linear-gradient(90deg, #d1cb1b 0%, #17061e 100%);
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 2px solid burlywood;
}

ol li:hover {
  background-color: #0099cc;
}



.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow:
   0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
  
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {
    width: 25%;
    background: linear-gradient(90deg, #002219 0%, #8300b6 100%);
}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {
    width: 50%;
    background: linear-gradient(90deg, #080022 0%, #8300b6 100%);

}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-3 h1{
  width: 100%;
  font-size: 22px;
 /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  text-align: center;
  color:rgb(255, 254, 254);
  text-shadow: 0px 1px 0px black;
  font-weight: bolder;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
} 


.col-6 img{
    max-width: 350px;
    height: 300px;
    background: linear-gradient(90deg, #d1cb1b 0%, #8300b6 100%);
    border-radius: 60px;
    border: 2px solid rgb(13, 11, 6);
    padding: 0;
    box-shadow: 2px 3px 8px 1px black;
    margin: 10px;
    align-items: center;  
    margin-left:100px;
}



.col-6 h1{
    width: 100%;
    font-size: 30px;
   /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    text-align: center;
    color:brown;
    text-shadow: 0px 1px 2px black;
    font-weight: bolder;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
} 

.col-6 h2{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #0099cc;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    
    
} 

.col-6 p{
    width: 100%;
    font-size: 14px;
    color: wheat;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: stretch; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    line-height: 1.2rem;

        
} 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-6 {
        width: 100%;
        text-align: center;
    }
    .col-6 h1{
        width: 100%;
        font-size: 22px;
        padding-top: 0;
        margin-top: 0;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
    }

    .col-6 p{
        width: 100%;
        padding-top: 0;
        margin-top: 0;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
       justify-content: space-evenly; 
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: lighter;
       line-height: 1.2rem;


    }
    

}

@media only screen and (max-width: 450px) {
    .col-6 img{
        width: 90%;
        height: 300px;
        border-radius: 80px;
        border: 2px solid rgb(13, 11, 6);
        box-shadow: 2px 3px 8px 1px black;
        margin: 2px;
     
     
      
    }
      
}


@media only screen and (min-width: 450px) {
    .col-3 .aside img{width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 5px solid wheat;
    justify-content: center;
    padding: 2px;
    box-shadow: 2px 3px 8px 1px black;
    margin: 4px;
   }
}


@media only screen and (max-width: 450px) {
  .col-3 .aside img{width: 80%;
  height: 300px;
  border-radius: 20px;
  border: 5px solid wheat;
  justify-content: center;
  padding: 2px;
  box-shadow: 2px 3px 8px 1px black;
  margin: 4px;
 }
}
#menu_img{
    width: 300px;
    height:250px;
    border-radius: 10px;
    height:200px;
    border-radius: 20px;
    border: 5px solid wheat;
    justify-content: center;
    padding: 2px;
    box-shadow: 2px 3px 8px 1px black;
    margin: 4px;
}

@media only screen and (min-width: 450px) {
    .col-3 #menu_img{width: 100%;

   }
}


/* profile table starts here */
.profile-table{
  padding: 16px;
  margin: 4px;
  font-weight: lighter;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5rem;
}

#hide-menu{
  display: inline;
}


@media only screen and (max-width: 760px) {
  .col-3 .profile-table{
    display: none;
 }
 .col-3 menu{
  display: none;
 }
 #hide-menu{
  display: none;
 }
}



/* Footers start here */


.footer {
    background-color: #12181a;
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    
    }
    
    .footer-item {
    background-color: #07151a;
   /* background-color: hwb(0 6% 93%); */
    /*border: 5px solid white; */
    text-align: center;
    /*box-shadow: 1px 3px 30px rgb(28, 26, 26); */
    padding-left: 20px;
    border-radius: 30px;
    padding: 10px;
    
    }
    
    .footer-item h1 {
    font-size: 18px;
    font-style: bold;
    color: #757575;
    font-family: "Poppins", sans-serif;
    /*background-color: white; */
    box-shadow: 1px 3px 30px black;
    /*text-shadow: 2px 2px 8px black;  */
    height: 30px;
    padding-left: 40px;
    }
    
    .footer-item p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: wheat;
    /*box-shadow: 1px 3px 30px black; */
    height: 15px;
    padding-left: 40px;
    }
    
    #colored_p{
    color: #005abb;
    font-family: "Poppins", sans-serif;
    }
    
    
    #colored_wheat{
    color: wheat;
    font-family: "Poppins", sans-serif;
    }
    .copyright-d{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    }
    
    
    
    
    @media only screen and (max-width:795px){
    .footer {grid-template-columns: 100%;
    }
    .copyright-mobile h3{
      font-size: 15px;
      font-family: "Poppins", sans-serif;
    }
    .copyright-d{
      display: none;
    }
    
    
    
    }
    
    @media only screen and (max-width:795px){
    .footer{
      width: 100%;
      height: fit-content;
      grid-template: 1fr;
      margin-top: 0;
      margin-bottom: 5;
      margin-left: 2px;
      margin-right: 2px;
     /* border: 4px solid navy; */
     border: 8px solid wheat;
     border-radius: 40px 40px 0px 0px;
     padding-bottom: 10px;
     padding-top: 10px;
    
    }
    
      .footer-item{
          width: 100%;
          height: auto;
          margin: 0;
          margin-top: 10px;
          border-radius: 40px 40px 0px 0px;
          padding-left: 0;


          
      }
      .footer-item p{
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        color: wheat;
        /*box-shadow: 1px 3px 30px black; */
        height: 15px;
        padding-left: 0;
        }
        .footer-item h1 {
          font-size: 18px;
          font-style: bold;
          color: #757575;
          font-family: "Poppins", sans-serif;
          /*background-color: white; */
          box-shadow: 1px 3px 30px black;
          /*text-shadow: 2px 2px 8px black;  */
          height: 30px;
          padding-left: 0;
          }
    }
    
    
    
    
    @media only screen and (min-width:800px){
    .footer{grid-template-columns: 100%;
      height: 340px;
      display: grid;
      grid-template-columns: 1.2fr 1.2fr 1.6fr;
      padding-top: 20px;
      padding-left: 40px;
      margin-top: 0;
      margin-bottom: 0;
     /* margin-left: 20px;
      margin-right: 20px;*/
      border: 8px solid wheat;
      border-radius: 40px 40px 0px 0px;
    
    
      .footer-item{
          width: 100%;
          height: auto;
          padding: 0px;
          border-radius: 40px 40px 0px 0px;
          margin: 0;
          margin-bottom:0;
      }
    
      .copyright-d h3{
        color: rgb(239, 230, 226);
        font-size: 15px;
        align-items: center;
        text-align: center;
      }
      .copyright-mobile{
        display: none;
      }
      .footer-item p{
          text-align: left;
      }
       .footer-item h1{
           text-align: left;
      }
    
    }
    }
    
    
    .footer-item img{
      border: 2px solid wheat;
      border-radius: 40px;
      width: 100px;
    }
    
    
    .mo{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(207, 231, 72);
    }
    
    .mo p{
    
    color: rgb(207, 231, 72);
    }
    
    
    
    @media (max-width: 760px) {
    h5{
      font-size: 12px;
    
    }
    }
    
    /* social ico */
    
    .fa {
    padding: 10px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 15px 15px;
    border-radius: 50%;
    }
    
    .fa:hover {
      opacity: 0.7;
      color: #a4c639;
    }
    
    
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    
    
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
    
    .fa-instagram {
    background: #dd4b39;
    color: white;
    }
    
    
    
    /* Login form Css */
    
    .login-form{
      max-width: 500px;
      background-color: rgb(42, 69, 167);
      box-shadow: 5px 8px 5px #151414;
      font-size: 20px;
      color: hsl(260, 92%, 38%);
      padding-top: 30px;
      padding-left: 10px;
      padding-bottom: 10px;
      
      margin: 2px;
      border: 4px solid bisque;
      border-radius: 4px;
      height:250px;
      margin-bottom: 10px;
      }
      
    .login-form input {
      width: 70%;
      padding: 2px;
      align-items: center;
      padding-left: 5px; /*  this code will padding the text inside the input only*/
      margin: 2px;
      color: black;
      margin-left: 2px;
      border-radius: 3px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      
      
    .login-form p{
      padding-inline: 22px;
      text-shadow: 2px 3px 4px rgb(1, 1, 11);
      font-size: 22px;
      color: wheat;
      }
      
      
      
    .login-form h5{
      padding-inline: 20px;
      text-shadow: 2px 3px 4px rgb(1, 1, 11);
      font-size: 30px;
      color: rgb(207, 231, 72);
      }
    .login-form h1{
      text-align: center;
      font-size: 25px;
      color: red;
      text-shadow: 2px 3px 4px black;
      padding-top: 10px;
      }
      
      
    .login-form .submit{
      background-color: rgb(14, 13, 12);
      align-items: center;
      margin-left: 100px;
      width: 50%;
      padding-bottom: 10px;
      border-radius: 8px;
      color: wheat;
      border: 4px solid wheat;
      }
      
    
      
    .logout-form{
        max-width: 500px;
        background-color: rgb(42, 69, 167);
        box-shadow: 5px 8px 5px #151414;
        font-size: 20px;
        color: hsl(260, 92%, 38%);
        padding-top: 5px;
        padding-left: 100px;
        padding-bottom: 5px;
        
        margin: 2px;
        border: 4px solid wheat;
        border-radius: 4px;
        height:80px;
        margin-bottom: 10px;
        }
    .botton-sub{
          text-align: center;
          width: 80px;
          font-size: 25px;
          color: red;
          text-shadow: 2px 3px 4px black;
          padding-top: 5px;
        }
      
    .email-display{ 
      padding: 10px
    }
    
    .email-display p{
      color:black;
    }
    
    
    
    
    @media only screen and (max-width:795px){
      .email-display p{
        background-color: hsl(63, 100%, 52%); 
        border: 1px solid black; align-items: center;
        padding: 2px; text-align: center; width: 260px; box-shadow: 1px 1px 4px 2px;
        margin-left: 50px; margin-right: 100px;
    
      }
    }
    
    
    @media only screen and (min-width:800px){
      .email-display p{
        background-color: hsl(63, 100%, 52%); 
        border: 1px solid black; position: absolute; top: 10px; left: 800px;
        padding: 2px; text-align: center; width: 260px; box-shadow: 1px 1px 4px 2px;
      
      }
    }
    
    
    
    
